In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('vine_table.csv')
df

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,0,R2MTG1GCZLR2DK,5.0,0.0,0.0,N,Y
1,1,R2HBOEM8LE9928,5.0,0.0,0.0,N,Y
2,2,R1P4RW1R9FDPEE,5.0,1.0,1.0,N,Y
3,3,R1EBPM82ENI67M,1.0,0.0,0.0,N,Y
4,4,R372S58V6D11AT,5.0,1.0,1.0,N,Y
...,...,...,...,...,...,...,...
3093864,3093864,RZ3LLAKIZQ3RR,5.0,0.0,0.0,N,N
3093865,3093865,R1V8GVI67B7V0K,5.0,0.0,0.0,N,N
3093866,3093866,R3BDESK5VUNK8C,5.0,5.0,5.0,N,N
3093867,3093867,R1JJGM0JWVT7DV,5.0,3.0,3.0,N,N
3093868,3093868,R30PZG0PCGR2V0,1.0,7.0,9.0,N,N

In [3]:
# Filter data and retrieve all rows where total_votes count is equal or greater than 20
total_votes = df.loc[(df['total_votes']>=20)]
total_votes.head(10)

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
41,41,R1FBO737KD9F2N,5.0,19.0,23.0,N,Y
145,145,R227GSNWI6BSZV,1.0,20.0,20.0,N,Y
304,304,R3SJTYZBYBG4EE,4.0,99.0,99.0,N,Y
419,419,R248FG65D76D5Y,1.0,42.0,53.0,N,Y
500,500,R3B6BXFKGW52SG,1.0,32.0,32.0,N,Y
555,555,ROTIV4VYL31R4,5.0,26.0,26.0,N,Y
659,659,R3VQ59LD2LSKY7,5.0,20.0,25.0,N,Y
1115,1115,RIIGLD8JB7PX8,1.0,32.0,35.0,N,Y
1188,1188,R3MUBV21QV0IJK,3.0,77.0,84.0,N,Y
1459,1459,R1V5W0X6BKIJYA,5.0,129.0,132.0,N,Y

In [4]:
total_votes['results'] = total_votes['helpful_votes']/total_votes['total_votes']
total_votes.head(10)

<ipython-input-4-b26cab4b466f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_votes['results'] = total_votes['helpful_votes']/total_votes['total_votes']

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,results
41,41,R1FBO737KD9F2N,5.0,19.0,23.0,N,Y,0.826087
145,145,R227GSNWI6BSZV,1.0,20.0,20.0,N,Y,1.000000
304,304,R3SJTYZBYBG4EE,4.0,99.0,99.0,N,Y,1.000000
419,419,R248FG65D76D5Y,1.0,42.0,53.0,N,Y,0.792453
500,500,R3B6BXFKGW52SG,1.0,32.0,32.0,N,Y,1.000000
555,555,ROTIV4VYL31R4,5.0,26.0,26.0,N,Y,1.000000
659,659,R3VQ59LD2LSKY7,5.0,20.0,25.0,N,Y,0.800000
1115,1115,RIIGLD8JB7PX8,1.0,32.0,35.0,N,Y,0.914286
1188,1188,R3MUBV21QV0IJK,3.0,77.0,84.0,N,Y,0.916667
1459,1459,R1V5W0X6BKIJYA,5.0,129.0,132.0,N,Y,0.977273

In [5]:
# Filter DataFrame to retrieve all rows where the number of helpful_votes divided by total_votes is equal or greater than 50%
helpful_votes = total_votes.loc[(total_votes['results']>=0.5)]
helpful_votes.head(10)

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,results
41,41,R1FBO737KD9F2N,5.0,19.0,23.0,N,Y,0.826087
145,145,R227GSNWI6BSZV,1.0,20.0,20.0,N,Y,1.000000
304,304,R3SJTYZBYBG4EE,4.0,99.0,99.0,N,Y,1.000000
419,419,R248FG65D76D5Y,1.0,42.0,53.0,N,Y,0.792453
500,500,R3B6BXFKGW52SG,1.0,32.0,32.0,N,Y,1.000000
555,555,ROTIV4VYL31R4,5.0,26.0,26.0,N,Y,1.000000
659,659,R3VQ59LD2LSKY7,5.0,20.0,25.0,N,Y,0.800000
1115,1115,RIIGLD8JB7PX8,1.0,32.0,35.0,N,Y,0.914286
1188,1188,R3MUBV21QV0IJK,3.0,77.0,84.0,N,Y,0.916667
1459,1459,R1V5W0X6BKIJYA,5.0,129.0,132.0,N,Y,0.977273

In [6]:
_5star = helpful_votes.loc[(helpful_votes['star_rating']== 5)]
_5star_total = _5star.count()

In [7]:
# create a new DataFrame or table that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.

vine_paid = helpful_votes.loc[(helpful_votes['vine']== 'Y')]
vine_paid.head(10)

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,results
1932,1932,R184FOUNZZ7KO8,5.0,15.0,20.0,Y,N,0.750000
4661,4661,R82QWN2X2OCHB,5.0,176.0,208.0,Y,N,0.846154
11745,11745,R1UYHBYE6790BU,5.0,44.0,53.0,Y,N,0.830189
17013,17013,R2J3YLX1L4EH2B,5.0,299.0,321.0,Y,N,0.931464
28097,28097,R3QDI539WTXKE2,5.0,26.0,32.0,Y,N,0.812500
30853,30853,RQTPWY6ND2NRV,4.0,37.0,37.0,Y,N,1.000000
37381,37381,RQZSTE0KOBY2G,4.0,98.0,109.0,Y,N,0.899083
43893,43893,RF2RNZEJO0K1N,4.0,23.0,26.0,Y,N,0.884615
47627,47627,ROB6VOW41E8O5,4.0,155.0,172.0,Y,N,0.901163
61610,61610,R3ASMXPEPYY28T,3.0,11.0,20.0,Y,N,0.550000

In [8]:
# retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'

vine_unpaid = helpful_votes.loc[(helpful_votes['vine']== 'N')]
vine_unpaid.head(10)

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,results
41,41,R1FBO737KD9F2N,5.0,19.0,23.0,N,Y,0.826087
145,145,R227GSNWI6BSZV,1.0,20.0,20.0,N,Y,1.000000
304,304,R3SJTYZBYBG4EE,4.0,99.0,99.0,N,Y,1.000000
419,419,R248FG65D76D5Y,1.0,42.0,53.0,N,Y,0.792453
500,500,R3B6BXFKGW52SG,1.0,32.0,32.0,N,Y,1.000000
555,555,ROTIV4VYL31R4,5.0,26.0,26.0,N,Y,1.000000
659,659,R3VQ59LD2LSKY7,5.0,20.0,25.0,N,Y,0.800000
1115,1115,RIIGLD8JB7PX8,1.0,32.0,35.0,N,Y,0.914286
1188,1188,R3MUBV21QV0IJK,3.0,77.0,84.0,N,Y,0.916667
1459,1459,R1V5W0X6BKIJYA,5.0,129.0,132.0,N,Y,0.977273

In [10]:
# Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid)
vine_paid.count()
#five_star = vine_paid.loc[(vine_paid['star_rating']==5)]
#five_star.count()

Unnamed: 0           1080
review_id            1080
star_rating          1080
helpful_votes        1080
total_votes          1080
vine                 1080
verified_purchase    1080
results              1080
dtype: int64

In [61]:
paid_count = vine_paid[(vine_paid.star_rating >= 5)].count()
percentage_5star_paid = (paid_count/_5star_total)*100
percentage_5star_paid

Unnamed: 0                  1.932162
review_id                   1.932162
star_rating                 1.932162
helpful_votes               1.932162
total_votes                 1.932162
vine                        1.932162
verified_purchase           1.932162
percentage_helpful_votes    1.932162
results                     1.932162
dtype: float64

In [64]:
unpaid_count = vine_unpaid[(vine_unpaid.star_rating >= 5)].count()
percentage_5star_unpaid = (unpaid_count/_5star_total)*100
percentage_5star_unpaid

Unnamed: 0                  98.067838
review_id                   98.067838
star_rating                 98.067838
helpful_votes               98.067838
total_votes                 98.067838
vine                        98.067838
verified_purchase           98.067838
percentage_helpful_votes    98.067838
results                     98.067838
dtype: float64

In [65]:
percentage_5star_paid+percentage_5star_unpaid

Unnamed: 0                  100.0
review_id                   100.0
star_rating                 100.0
helpful_votes               100.0
total_votes                 100.0
vine                        100.0
verified_purchase           100.0
percentage_helpful_votes    100.0
results                     100.0
dtype: float64